<div id="entry-list">

<div class="row" style="margin-bottom:10px; margin-left:10%; margin-right:10%;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped" style="margin-left:10%; margin-right:10%;">

	<!-- TODO: 테이블 헤더를 수정하여 원하는 헤더로 설정 -->
	<thead>
		<tr>
			<th style="width:20%;">
				<span class="sort" data-sort="name">Company Name</span>
			</th>
			<th style="width:20%;">
				<span class="sort" data-sort="city">City</span>
			</th>
			<th style="width:20%;">
				<span class="sort" data-sort="category">Category</span>
			</th>
			<th style="width:20%;">
				<span class="sort" data-sort="tags">Tags</span>
			</th>
		</tr>
	</thead>

	<!-- TODO: 테이블 바디를 수정하여 원하는 정보를 설정 -->
	<tbody class="list">
	{% for post in site.posts %}
		<tr>
			<td class="name">{{ post.company-name }}</td>
			<td class="city">{{ post.city }}</td>
			<td class="category">{{ post.categories }}</td>
			<td class="tags">{{ post.tags | array_to_sentence_string }}</td>
		</tr>
	{% endfor %}
	</tbody>

</table>
</div>

</div>

<script type="text/javascript">

// TODO: options를 수정하여 원하는 정보를 설정
var options = {
  valueNames: ['name', 'city', 'category', 'tags']
};

var entryList = new List('entry-list', options);

</script>